<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit student</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<div th:replace="fragments/navbar::navbar"></div>
	<form action="#" th:action="@{/students/save}" th:object="${student}" method="post">
		<div class="container">
			<p class="h3 text-secondary">Edit student</p>
			<dl th:if="${student.id != null}" class="row">
				<dt class="col-sm-2">
					<label for="id">Id</label>
				</dt>
				<dd class="col-sm-10">
					<input type="text" readonly="readonly" th:field="*{id}" id="id">
				</dd>
			</dl>
			<dl class="row">
				<dt class="col-sm-2">
					<label for="name">Name</label>
				</dt>
				<dd class="col-sm-10">
					<input type="text" th:field="*{name}" id="name" required>
					<span class="font-italic text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</dd>
				<dt class="col-sm-2">
					<label for="surname">Surname</label>
				</dt>
				<dd class="col-sm-10">
					<input type="text" th:field="*{surname}" id="surname" required>
					<span class="font-italic text-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
				</dd>
				<dt class="col-sm-2">Group</dt>
				<dd class="col-sm-10">
					<select class="form-control" th:field="*{group.id}" required>
						<option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
					</select>
					<span class="font-italic text-danger" th:if="${#fields.hasErrors('group')}" th:errors="*{group}"></span>
				</dd>
				<dt class="col-sm-2">
					<label for="phone">Phone</label>
				</dt>
				<dd class="col-sm-10">
					<input type="text" th:field="*{phone}" id="phone">
					<span class="font-italic text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
				</dd>
				<dt class="col-sm-2">
					<label for="email">Email</label>
				</dt>
				<dd class="col-sm-10">
					<input type="text" th:field="*{email}" id="email">
					<span class="font-italic text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				</dd>
				<dt class="col-sm-2">
					<label for="address">Address</label>
				</dt>
				<dd class="col-sm-10">
					<input type="text" th:field="*{address}" id="address">
					<span class="font-italic text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
				</dd>
				<dt class="col-sm-2">
					<label for="birthDate">Birth date</label>
				</dt>
				<dd class="col-sm-10">
					<input class="form-control" type="date" id="birthDate" th:value="*{birthDate}"
						th:field="*{birthDate}" required>
					<span class="font-italic text-danger" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></span>
				</dd>
				<dt class="col-sm-2">Gender</dt>
				<dd class="col-sm-10">
					<div class="form-check form-check-inline" th:each="gender : ${genders}">
						<input type="radio" th:field="*{gender}" th:value="${gender}" th:text="${gender}">
					</div>
					<span class="font-italic text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
				</dd>
				<dt class="col-sm-2">Courses</dt>
				<dd class="col-sm-10">
					<div style="height: 150px; border: 1px solid #ccc; overflow: auto;">
						<div th:each="course : ${courses}">
							<input type="checkbox" th:value="${course.id}" th:field="*{courses}" /> <label
								th:for="${#ids.prev('courses')}" th:text="${course.name}"></label>
						</div>
					</div>
					<span class="font-italic text-danger" th:if="${#fields.hasErrors('courses')}" th:errors="*{courses}"></span>
				</dd>
			</dl>
			<input class="btn btn-success" type="submit" role="button" value="Submit">
		</div>
	</form>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>