<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Teacher</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<div th:replace="fragments/navbar::navbar"></div>
	<div class="container">
		<p class="h3 text-secondary">Teacher</p>
		<dl class="row">
			<dt class="col-sm-2">Id</dt>
			<dd class="col-sm-10" th:text="${teacher.id}" />
			<dt class="col-sm-2">Name</dt>
			<dd class="col-sm-10" th:text="${teacher.name}" />
			<dt class="col-sm-2">Surname</dt>
			<dd class="col-sm-10" th:text="${teacher.surname}" />
			<dt class="col-sm-2">Rank</dt>
			<dd class="col-sm-10" th:text="${teacher.rank}" />
			<dt class="col-sm-2">Phone</dt>
			<dd class="col-sm-10" th:text="${teacher.phone}" />
			<dt class="col-sm-2">Email</dt>
			<dd class="col-sm-10" th:text="${teacher.email}" />
			<dt class="col-sm-2">Address</dt>
			<dd class="col-sm-10" th:text="${teacher.address}" />
			<dt class="col-sm-2">Birth date</dt>
			<dd class="col-sm-10" th:text="${teacher.birthDate}" />
			<dt class="col-sm-2">Gender</dt>
			<dd class="col-sm-10" th:text="${teacher.gender}" />
			<dt class="col-sm-2">Courses</dt>
			<dd class="col-sm-10">
				<div class="list-group list-group-flush" th:each="course : ${teacher.courses}">
					<a th:href="@{/courses/{id}(id=${course.id})}" class="list-group-item list-group-item-action"
						th:text="${course.name}"></a>
				</div>
			</dd>
		</dl>
		<div class="btn-group" role="group">
			<a th:href="@{/teachers/{id}/edit(id=${teacher.id})}">
				<button type="button" class="btn btn-warning">Edit</button>
			</a>
			<a th:href="@{/teachers/{id}/delete(id=${teacher.id})}">
				<button type="button" class="btn btn-danger">Delete</button>
			</a>
			<a th:href="@{/teachers/{id}/replace(id=${teacher.id})}">
				<button type="button" class="btn btn-primary">Replace</button>
			</a>
		</div>
		<form id="timetable" th:action="@{/teachers/{id}/timetable(id=${teacher.id})}" method="get">
			<dl class="row">
				<dt class="col-sm-2">
					<input class="btn btn-secondary" id="timetable" type="submit" role="button" value="Get timetable">
				</dt>
				<dd class="col-sm-2">
					<label for="startDate">Start date:</label> <input class="form-control" type="date"
						name="startDate" id="startDate" th:value="${startDate}" required>
				</dd>
				<dd class="col-sm-2">
					<label for="endDate">End date:</label> <input class="form-control" type="date" name="endDate"
						id="endDate" th:value="${endDate}" required>
				</dd>
			</dl>
		</form>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>