<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/app.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/%d{yyyy-MM-dd}.log</fileNamePattern>

			<totalSizeCap>3GB</totalSizeCap>
			<maxHistory>60</maxHistory>

		</rollingPolicy>

		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="INFO" />

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

	<root level="DEBUG">
		<appender-ref ref="FILE" />
	</root>

</configuration>