<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${exception}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<div class="page-wrap d-flex flex-row align-items-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 text-center">
					<span class="display-1 d-block" th:text="${status}"></span>
					<div class="mb-4 lead" th:text="${error}"></div>
					<p class="text-danger" th:text="${message}"></p>
					<a th:href="@{/}" class="btn btn-link">Back to Home</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>