<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Group</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<div th:replace="fragments/navbar::navbar"></div>
	<div class="container">
		<p class="h3 text-secondary">Group</p>
		<dl class="row">
			<dt class="col-sm-2">Id</dt>
			<dd class="col-sm-10" th:text="${group.id}" />
			<dt class="col-sm-2">Name</dt>
			<dd class="col-sm-10" th:text="${group.name}" />
			<dt class="col-sm-2">Students</dt>
			<dd class="col-sm-10">
				<div class="list-group list-group-flush" th:each="student : ${group.students}">
					<a th:href="@{/students/{id}(id=${student.id})}" class="list-group-item list-group-item-action">
						<span th:text="${student.name}"></span> <span th:text="${student.surname}"></span>
					</a>
				</div>
			</dd>
		</dl>
		<div class="btn-group" role="group">
			<a th:href="@{/groups/{id}/edit(id=${group.id})}">
				<button type="button" class="btn btn-warning">Edit</button>
			</a>
			<form th:action="@{/groups/{id}/delete(id=${group.id})}" method="post">
				<input type="submit" class="btn btn-danger" value="Delete">
			</form>
		</div>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>