<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Groups</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<div th:replace="fragments/navbar::navbar"></div>
	<div class="container">
		<p class="h3 text-secondary">Groups</p>
		<p>
			<a class="btn btn-success" th:href="@{/groups/new}" role="button">+Add group</a>
		</p>
		<table class="table table-responsive table-striped table-borderless table-sm align-middle">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Name</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="group : ${groupsPage}">
					<td th:text="${group.id}" />
					<td th:text="${group.name}" />
					<td>
						<div class="btn-group" role="group">
							<a th:href="@{/groups/{id}(id=${group.id})}">
								<button type="button" class="btn btn-info">Detail</button>
							</a>
							<a href="#">
								<button type="button" class="btn btn-warning">Edit</button>
							</a>
							<a href="#">
								<button type="button" class="btn btn-danger">Delete</button>
							</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container">
		<ul class="pagination" th:if="${groupsPage.totalPages > 1}">
			<li class="page-item" th:each="pageNumber : ${#numbers.sequence(1,groupsPage.getTotalPages())}"><a
					class="page-link" th:href="@{'/groups?page=' + ${pageNumber}}" th:text="${pageNumber}"></a></li>
		</ul>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>